#contact {
  background-color: $color-primary;
  padding: 5vw 0;
}

#contact h2 {
  color: white;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1vw;
}
#contact p {
  text-align: center;
  color: white;
  max-width: 25vw;
  margin: 0 auto;
  margin-bottom: 4vw;
}

#contact h3 {
  text-align: center;
  background-color: white;
  color: $color-primary;
  font-weight: bold;
  font-size: 1.5vw;
  width: 28vw;
  padding: 0.5vw;
  margin: 0 auto;
  margin-bottom: 2vw;
  border-radius: 0.5vw;
  cursor: pointer;
}

#contact .social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
  margin: 0 auto;
}
#contact .social-links a {
  display: block;
  text-decoration: none;
  color: white;
  transition: 0.1s;
}
#contact .social-links a:hover {
  transform: scale(1.07);
}
#contact .social-links a .icon {
  font-size: 3vw;
}

// 1440px
@media (max-width: 1440px) {
  #contact {
    padding: 60px 0;
  }

  #contact h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  #contact p {
    max-width: 350px;
    margin-bottom: 40px;
  }

  #contact h3 {
    font-size: 20px;
    width: 390px;
    padding: 8px;
    margin-bottom: 50px;
    border-radius: 7px;
  }

  #contact .social-links {
    width: 370px;
  }
  #contact .social-links a .icon {
    font-size: 40px;
  }
}

// 425px
@media (max-width: 425px) {
  #contact p {
    max-width: 90%;
  }
  #contact h3 {
    max-width: 90%;
    font-size: 16px;
  }
  #contact .social-links {
    max-width: 90%;
    justify-content: center;
  }
  #contact .social-links a {
    margin: 0 15px;
  }
  #contact .social-links a .icon {
    font-size: 35px;
  }
}
